.history-wrapper {
    .section-content {
        flex-direction: column;

        h5.job-title {
            display: none;
        }

        .job-banner {
            display: flex;
            justify-content: space-between;
            font-style: italic;

            margin-left: 12px;
            margin-right: 12px;
        }
    }
}