$color-albino: #eee;
$color-bleached: #ddd;
$color-light: #ccc;
$color-grey: #aaa;
$color-gloomy: #777;

$color-txt-dark: #333;
$color-txt-light: #dcdcdc;

$red-light: #e71c1c;
$red: #c61414;
$red-dark: #a11010;