.project {
    display: flex;

    .project-thumbnail {
        flex: 1 1 25%;
        display: flex;
        img {
            width: 85%;
        }
    }

    .project-notes {
        flex: 1 1 75%;
        display: flex;
        flex-direction: column;

        .project-description {
            flex: 1 1 auto;
            padding-left: 24px;
            padding-right: 24px;
            margin-top: 12px;
            margin-bottom: 12px;
        }

        .project-technologies {
            flex: 0 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 12px;

            .project-technology {
                margin-bottom: 8px;
                font-style: italic;
            }
        }
    }
}

@media screen and (min-width:701px) and (max-width: 900px), screen and (max-width: 575px) {
    .project {
        flex-direction: column;
        
        .project-thumbnail {
            flex: 0 0 auto;
            img {
                max-width: 180px;
            }
        }

        .project-notes {
            flex: 1 1 auto;
        }
    }
}

@media screen and (max-width: 575px) {
    .project {

        .project-notes {

            .project-technologies {
                flex: 0 0 auto;
                flex-direction: column;

                .bubble {
                    margin-bottom: 8px;
                }
            }
        }
    }
}