@import '../styles/partials/layout';
@import '../styles/partials/palette';

@media screen and (max-width: 700px) {
    .root-container {
        flex-direction: column;
    }

    .sidebar {
        flex: none;
        position: fixed;
        top: 0;
        left: -$sidebar-maxWidth - 10px;
        height: 100vh;

        transition: all 0.4s ease;

        &.sidebar-showing {
            left: 0;
        }
    }

    .sidebar-backdrop.sidebar-backdrop-showing {
        visibility: visible;
        height: 100%;
        width: 100%;
        background-color: rgb(0, 0, 0);
        opacity: 0.3;
    }

    .sidebar-toggle-wrapper {
        flex: 0 0 48px;
        display: flex;
        width: 100%;
        align-items: center;
    }

    .top-nav {
        background-color: $color-gloomy;
    }

}