@import '../styles/partials/layout';
@import '../styles/partials/palette';

.root-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    flex: 1 0 30%;
    min-width: $sidebar-minWidth;
    max-width: $sidebar-maxWidth;
}

.sidebar-toggle-wrapper {
    display: none;
}

.sidebar-backdrop {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 0;
}

.router-outlet {
    flex: 1 1 70%;
    overflow: auto;
}

/*App specific*/

.loading-indicator {
    color: $red-dark;
}

.socicon-linkedin {
    color: $color-albino;
    background-color: #827be9;
    border-radius: 8px;

    &:hover {
        background-color: #6059c7;
    }
}

.socicon-mail {
    color: $red;

    &:hover {
        color: $red-dark;
    }
}

