@import '../styles/partials/layout';

.root-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    flex: 1 0 30%;
    min-width: $sidebar-minWidth;
    max-width: $sidebar-maxWidth;
}

.sidebar-toggle-wrapper {
    display: none;
}

.router-outlet {
    flex: 1 1 70%;
    overflow: auto;
}