@import '../styles/partials/layout';

@media screen and (max-width: 700px) {
    .root-container {
        flex-direction: column;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -$sidebar-minWidth;
        height: 100vh;

        transition: all 0.4s ease-in-out;

        &.sidebar-showing {
            left: 0;
        }
    }

    .sidebar-toggle-wrapper {
        display: flex;
        width: 100%;
        align-items: center;
    }
}