@import '../../../styles/partials/palette';

.sidebar-toggle {
    font-size: 20px;
    color: $color-txt-light;
    border: 1px solid $color-txt-light;
    border-radius: 4px;
    width: 30px;
    margin-right: 8px;
    margin-left: 8px;

    &:before {
        content: '\2630';
    }
}