@import '../../../styles/partials/palette';

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-gloomy;
    color: $color-txt-light;
}

.profile {
    flex: 1 1 35%;
    margin-top: 24px;
    margin-bottom: 36px;
}

.menu {
    flex: 1 1 65%;
}